
#cameraImages {
    width: 288px; height: 288px;
}


.cameras {
     text-align:center;
}



.ui-content .ui-listview .ui-li-divider{
    font-size:0.5em;
}


.content {
	
	font-family: american-typewriter;
	text-align: center;
	color: #c4c4c4;
	
}


#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 240px;
    height: 460px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#popupPanel .ui-btn {
    margin: 2em 13px;
}